@charset "utf-8";

@import "settings";
@import "module/module";

#wrapper {
  width: $global-width;
  margin: 0 auto;
}

#header {
  padding: 15px 0;
  #header-logo {
    color: #009D85;
    font-size: 2.5rem;
  }
}

#container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 50px;
  & > * {
    flex-shrink: 0;
  }
}

#side {
  width: 200px;
  background: #3DB680;
  color: #ffffff;
  box-sizing: border-box;
  padding: 15px 10px;
}

.side-nav__links {
  padding-left: 20px;
  list-style: disc;
  li {
    line-height: 150%;
    a {
      color: #ffffff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#main {
  width: 730px;
  padding: 15px;
  background: #ffffff;
  box-sizing: border-box;
}

h2.head {
  border: 2px solid #ECACB5;
  color: #009250;
  font-size: 2rem;
  padding: 7px 15px;
}
