@charset "UTF-8";

/****************
 wysiwyg
*****************/
.wysiwyg {
  p {
    margin-top: 15px;
    line-height: 150%;
  }

  & > *:first-child {
    margin-top: 0;
  }

  &.wysiwyg--section {
    margin-top: 15px;
  }
}
